body {
    background-image: linear-gradient(white, #999999)
}

.room{
    border: 5px solid black;
    width: 500px;
    height: 400px;
    padding: 50px;
    margin: auto;
    text-align: center;
    
}

    #sofa {
        width: 200px;
        height: 50px;
        background-color: beige;
        border: 2px solid;
        position: relative;
        bottom: 50px;

    }

    #table {
        width: 125px;
        height: 300px;
        background-color: burlywood;
        border: 2px solid chocolate;
        position: relative;
        left: 400px;
    }   

    #frame {
        width: 100px;
        height: 20px;
        background-color: grey;
        border: black;
        position: relative;
        left: 450px;
        bottom: 410px;
    }

    #rug {
        width: 300px;
        height: 300px;
        background-color: bisque;
        border: solid white;
        position: relative;
        bottom: 250px;
    }

    #door {
        width: 100px;
        height: 20px;
        background-color: chocolate;
        border: solid brown;
        position: relative;
        bottom: 260px;
        left: 400px;
    }