table, th, td
{ 
    border: solid 1px black;
    border-collapse:collapse;
}
table
{
    margin-left:auto;
    margin-right:auto;
}
th, td
{
    padding:.5em;
}
th
{
    background-color:#FFFF00;
}  
